// Oswald	      	400 500

// font-family: 'Oswald', sans-serif;

/* Oswald-400 Cyrillic, Latin*/
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.eot');
  src: local('Oswald Regular'), local('Oswald Regular'),
    url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Oswald-500 Cyrillic, Latin*/
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.eot');
  src: local('Oswald Medium'), local('Oswald Medium'),
    url('../fonts/Oswald-Medium.woff2') format('woff2'),
    url('../fonts/Oswald-Medium.woff') format('woff'),
    url('../fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
