.header {
  position: fixed;
  background-color: #e3e5ec;
  z-index: 10;

  padding-top: 10px;
  padding-bottom: 10px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.upload {
  width: 100%;
  display: flex;
  justify-content: space-between;

  %input {
    @include outline;

    padding: 5px;
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    color: #414141;
  }

  &__url {
    @extend %input;

    width: 32%;

    &::placeholder {
      color: #414141;
    }

    &:focus-within {
      &::placeholder {
        color: white;
      }
    }
  }

  &__sub-label {
    @extend %input;

    width: 43%;
    cursor: pointer;
  }
  // Play icon
  &__btn {
    display: flex;
    background-color: transparent;
    border: none;
    transition: transform 250ms;

    &::after {
      content: 'plaY';
      color: black;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 23px;
    }

    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }
}
// YouTube icon
.youtube {
  display: flex;
  align-items: center;
  transition: transform 250ms;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}
