.hero__wrap {
  display: flex;

  & .sidebar {
    width: 50%;
  }

  & .video-sub {
    width: calc(45% - 15px);

    & #video-player {
      width: calc(45vw - 15px - 60px);

      max-height: 41vh;
      padding-bottom: 15px;
      position: fixed;
      bottom: 0;
      left: 60px;

      background-color: #e3e5ec;
    }

    & .translation {
      width: calc(45vw - 15px - 60px);
      height: 20vh;
      margin-bottom: 65px;
      padding: 15px 15px 15px 30px;
      position: fixed;
      bottom: 0;
      left: 60px;
      background-color: #555555;
      background-image: linear-gradient(to top, #555555, #f4f4f4 60%);
      font-size: 22px;
      font-style: italic;

      &::first-letter {
        margin-left: 30px;
        color: #cd201f;
      }
    }

    & .sub-output {
      margin-top: 60px;

      & h2 {
        font-size: 28px;
      }

      font-size: 24px;
    }

    & p:last-of-type {
      margin-bottom: 50vh;
    }
  }
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: gray;
}

.srt {
  &::first-letter {
    margin-left: 30px;
    color: #cd201f;
  }

  &.current {
    padding: 10px 0;
    border-top: 1px solid tomato;
    border-bottom: 1px solid tomato;
    // background-color: tomato;
  }

  &.active {
    padding: 10px 5px 10px 15px;
    background-color: white;
    border-radius: 5px;

    &::first-letter {
      margin-left: 20px;
    }
  }
}
