.hero__wrap {
  display: flex;

  & .sidebar {
    width: 50%;
  }

  & .video-sub {
    width: calc(50% - 15px);

    & #video-player {
      width: calc(50% - 15px - 15px);
      padding-bottom: 15px;
      position: fixed;
      bottom: 0;
      left: 15px;

      background-color: #e3e5ec;

      @media screen and (min-width: 1024px) {
        width: calc(50% - 15px - 30px);
        left: 30px;
      }

      @media screen and (min-width: 1280px) {
        width: calc(50% - 15px - 60px);
        left: 60px;
      }
    }

    & .sub-output {
      // width: 50%;
      // width: calc(50% - 15px);
      // margin-left: auto;

      // position: sticky;
      // top: 15px;
      // margin-top: 5px;

      & h2 {
        font-size: 28px;
      }

      font-size: 24px;
    }
  }
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: gray;
}

.srt {
  &::first-letter {
    margin-left: 30px;
    color: #cd201f;
  }

  &.current {
    padding: 10px 0;
    border-top: 1px solid tomato;
    border-bottom: 1px solid tomato;
    // background-color: tomato;
  }

  &.active {
    padding: 10px 5px 10px 15px;
    background-color: white;
    border-radius: 5px;

    &::first-letter {
      margin-left: 20px;
    }
  }
}
