.hero__wrap {
  display: flex;

  & .sidebar {
    margin-top: 50px;
    margin-left: 70px;
    width: 50%;

    & ol {
      position: sticky;
      top: 50px;
    }
  }

  & .video-sub {
    width: calc(45% - 15px);

    & #video-player {
      width: calc(45vw - 15px - 60px);
      height: 41.7vh;
      padding-top: 10px;
      padding-bottom: 10px;
      position: fixed;
      bottom: 0;
      left: 60px;
      background-color: #e3e5ec;
      // outline: 1px solid black;
      // background-image: linear-gradient(to bottom, transparent 0%, #e3e5ec80 1%, #e3e5ec 4.5%);
    }

    & .translation {
      display: flex;
      align-items: center;

      width: calc(45vw - 15px - 60px - 20px);
      height: 25vh;
      margin-bottom: 65px;
      padding: 15px 15px 15px 25px;
      position: fixed;
      bottom: 0;
      left: calc(60px + 10px);
      border-radius: 5px;
      background-image: linear-gradient(to top, #555555, #f4f4f4 60%);
      font-size: 21px;
      font-style: italic;

      & p {
        &::first-letter {
          margin-left: 30px;
          color: #cd201f;
        }
      }
    }

    & .sub-output {
      margin-top: 60px;

      font-size: 24px;

      & h2 {
        font-size: 28px;
      }

      & p:last-of-type {
        margin-bottom: 50vh;
      }
    }
  }
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: gray;
}

.srt {
  &::first-letter {
    margin-left: 30px;
    color: #cd201f;
  }

  &.current {
    padding: 10px 0;
    border-top: 1px solid tomato;
    border-bottom: 1px solid tomato;
    // background-color: tomato;
  }

  &.active {
    padding: 10px 5px 10px 15px;
    background-color: white;
    border-radius: 5px;

    &::first-letter {
      margin-left: 20px;
    }
  }
}
